WAScan
$ git clone https://github.com/m4ll0k/WAScan.git
$ cd wascan 
$ pip install BeautifulSoup
$ python wascan.py
If you want the w script to work you'll need to make sure your lib and plugin folder is in the same directory as your w script. You can get it from the repo above or you can get it from https://github.com/xephora/Tech-Scripts-n-Goodies

Photon
Python LIBS:
requests
requests[socks]
urllib3
tld

git clone https://github.com/s0md3v/Photon/

nikto is built into kali
